<header class="intro">
	<div class="intro-body">
		<div class="intro-all container">
			<p class="intro-text">
				Welcome to Pharmacy<br /> where your health is our priority!
			</p>
			<p style="color: rgb(121, 164, 189);">As your trusted neighborhood pharmacy, we are committed to providing
				exceptional care, personalized service, and a wide range of high-quality products to meet all your
				health and wellness needs.</p>
		</div>
	</div>
	</div>
</header>


<div class="polosa">
	<div class="container content-section text-center">
		<h3>Articles</h3>
		<div class="row">
			{% for article in articles %}
			<div class="col-md-4">
				<a href="/articles">
					<div class="card">
						<img src="{{{article.thumb}}}" alt="{{{article.name}}}">
						<div class="card-body">
							<h4 class="card-title">{{{articles.name}}}</h4>
							<p class="text-as">{{{article.short}}} </p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="polosa" id="courses">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<h3>Drugs</h3>
				</div>
				<div class="owl-carousel owl-theme owl-courses">
					{% for drug in drugs %}
					<div class="col-md-12 col-sm-12">
						<a href="/drugs">
						<div class="item">
							<div class="courses-thumb">
								<div class="courses-top">
									<div class="courses-image">
										<img src="{{{drug.thumb}}}" alt="{{{drug.name}}}" class="img-responsive" alt="">
									</div>
								</div>

								<div class="courses-detail">
									<h4>{{{drug.name}}}</h4>
									<p>{{{drug.short}}}</p>
								</div>

								<div class="courses-info">
									<div class="courses-author">
										<div class="courses-price">
											<span>{{{drug.price}}}</span>
										</div>

									</div>
								</div>
							</div>
						</div>
					</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="polosa">
	<div class="container content-section text-center">
		<h3>pharmacies</h3>
		<div class="row">
			{% for pharmacy in pharmacies %}
			<div class="col-md-4">
				<a href="/pharmacies">
					<div class="card">
						<img src="{{{pharmacy.thumb}}}" alt="{{{pharmacy.name}}}">
						<div class="card-body">
							<h5 class="card-title">{{{pharmacys.name}}}</h5>
							<p class="text-sas">{{{pharmacy.short}}} </p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>